<div class="container">
    <div class="list-group" *ngIf="restaurants.length">
        <div class="card mb-3" *ngFor="let restaurant of restaurants">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="{{ restaurant.images.thumbnail }}" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">{{ restaurant.name }}</h5>
                        <p class="card-text">
                            {{ restaurant.address.street }}, {{ restaurant.address.city }}
                        </p>
                        <p class="card-text">
                            <small class="badge badge-primary">open/close</small>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary mt-2" [routerLink]="['/restaurants', restaurant.slug]">
                        Details
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>