<div class="container">
    <h1>Restaurant Name</h1>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="assets/images/02-banner.jpg" alt="Random Restuarant lead message">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/images/02-banner.jpg" alt="Second slide">
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-10 mx-auto col-12 text-center mb-3">
                <h1 class="mt-0 text-primary">Our Menu</h1>
                <p class="lead">Begin with a selection from our award winning beverage menu or choose a wine from our
                    extensive
                    wine list. Our wine list features over 100 different vintages and has received the chamber of
                    commerce award
                    of excellence.</p>
            </div>
            <div class="col-12 mt-4">
                <h3 class="text-center">Starters</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
                <div class="card card-body">
                    <span class="float-right font-weight-bold badge badge-success">$8.95</span>
                    <h6 class="text-truncate">Tuscan Bruschetta</h6>
                    <p class="small">Crusty sliced Italian bread topped with basil, extra virgin olive oil, chopped
                        tomatoes,
                        garlic and fresh mozzarella cheese. Baked until it is nice and crispy and served with a side of
                        balsamic
                        reduction.</p>
                    <button class="btn btn-sm btn-primary float-right">Order</button>
                </div>
            </div>
            <div class="card-columns">
                <div class="card card-body">
                    <span class="float-right font-weight-bold badge badge-success">$8.95</span>
                    <h6 class="text-truncate">Tuscan Bruschetta</h6>
                    <p class="small">Crusty sliced Italian bread topped with basil, extra virgin olive oil, chopped
                        tomatoes,
                        garlic and fresh mozzarella cheese. Baked until it is nice and crispy and served with a side of
                        balsamic
                        reduction.</p>
                    <button class="btn btn-sm btn-primary float-right">Order</button>
                </div>
            </div>

            <div class="col-12 mt-4">
                <hr class="accent my-5">
            </div>
            <div class="col-12 mt-5 border border-right-0 border-left-0">
                <div class="row">
                    <div class="col h5">Restaurant Name</div>
                    <div class="col h5 text-right">(237) 324-233-342 Adress, City</div>
                </div>
            </div>
        </div>
    </div>